@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --clr-primary-400: hsl(322, 100%, 66%);

  --clr-neutral-100: hsl(193, 100%, 96%);
  --clr-neutral-400: hsl(208, 11%, 55%);
  --clr-neutral-900: hsl(192, 100%, 9%);

  --ff-primary: "Open Sans", sans-serif;
  --ff-secondary: "Poppins", sans-serif;

  --fw-regular: 400;
  --fw-semi-bold: 600;
  --fw-bold: 700;

  --box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.6;

  font-family: var(--ff-primary);
  font-size: 1.125rem;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ***********************************************************************************
utility class
************************************************************************************ */
.content-grid {
  --padding-inline: 1rem;
  --content-full-width: 90rem;

  display: grid;
  grid-template-columns:
    [full-width-start] minmax(var(--padding-inline), 1fr)
    [content-start] min(
      calc(100% - (2 * var(--padding-inline))),
      var(--content-full-width)
    )
    [content-end]
    minmax(var(--padding-inline), 1fr) [full-width-end];
}

.content-grid > *:not(.full-width) {
  grid-column: content;
}

.full-width {
  grid-column: full-width;
}

.clr-neutral-400 {
  color: var(--clr-neutral-400);
}

.clr-neutral-900 {
  color: var(--clr-neutral-900);
}

.clr-neutral-100 {
  color: var(--clr-neutral-100);
}

.hero__title {
  font-size: 2rem;
  font-weight: var(--fw-bold);
  line-height: 1.2;
  color: var(--clr-neutral-900);
}

.secondary-heading {
  font-size: 1.5rem;
  font-weight: var(--fw-bold);
  line-height: 1.2;
  color: var(--clr-neutral-900);
}

@media (min-width: 37.5rem) {
  .hero__title {
    font-size: 2.5rem;
  }
  .secondary-heading {
    font-size: 2rem;
  }
}

.text-left {
  text-align: start;
}

.text-center {
  text-align: center;
}

.m-auto {
  margin-inline: auto;
}

@media (max-width: 37.5rem) {
  .sm-text-center {
    text-align: center;
  }
}

.button {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  font-weight: var(--fw-bold);
  border-radius: 100vh;
  padding-block: 0.8rem;
  box-shadow: var(--box-shadow);
}

.button:is(:hover, :focus) {
  opacity: 0.8;
}

.button[data-type="white"] {
  color: var(--clr-neutral-900);
  padding-inline: 1.75rem;
}

.button[data-type="pink"] {
  background-color: var(--clr-primary-400);
  color: #fff;
  padding-inline: 4.375rem;
}

/* ***********************************************************************************
Header section
************************************************************************************ */
.header {
  background-image: url("../images/bg-hero-mobile.svg");
  background-color: var(--clr-neutral-100);
}

.primary-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 1.75rem;
}

.primary-nav .logo {
  max-width: 7.8125rem;
}

.hero {
  display: grid;
  gap: 4rem;
  padding-block: 4.375rem 2.5rem;
  text-align: center;
}

.hero__body {
  display: grid;
  gap: 2.5rem;
  justify-items: center;
}

@media (min-width: 48.75rem) {
  .header {
    background-image: url("../images/bg-hero-desktop.svg");
  }

  .primary-nav .logo {
    max-width: 12.5rem;
  }

  .hero {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: start;
  }

  .hero__body {
    justify-items: start;
  }
}
